.footer	{
            
    margin: 0px auto 0px auto;
    padding: 0px 0 0 0;
    text-align: center;
    position: static;
    width: 100%;
    
    }
.fixed { position: fixed; }
.static { position: static; }
#footer-left	{
    color: #FFFFFF;	 
    font-size: 11px;
    line-height: 11px;
    padding: 10px 0 10px 0px;
    border-top: 5px solid #A5151E;
    border-bottom: 1px solid #dbdbdb;
    background: #2A2A2A;    
    height: 12px;
    
    } 
#footer-left a	{
    color: #FFFFFF;
    text-decoration: none;
    }
#footer-left 	 a.selected,
#footer-left 	 a:hover	{
    color: red;
    text-decoration: none;
    }
    #conteudo{ height: 300px; width: 100%; background: yellow; }

/* carrocel*/
/* botões do carrocel */
.carousel-control-prev{
    left: 10%;
}
.carousel-control-next{
    right: 10%;
}
/* fim dos botões do carrocel */
.carousel-inner{
    background-color: rgb(26, 26, 26);
    width: 70%;
    height: 25%;
    left: 15%;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.25);
}
.col-lg-3{
    left: 0%;
    border-width: 10px;
    border-style:inset;
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.25);
}

.container{
    left: 0%;
}

.{
    left: 10%;
}

.featurette{
    width: 100%;
}

:root {
    --card-height: clamp(10rem, 25vw, 19rem);
}

.card-wrapper {
    margin: 0px auto;
    border: 1px solid var(--hover-font-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: calc(var(--card-height)*.05);
}
.card {
    height: var(--card-height);
    aspect-ratio: 1/1.2;
    margin: calc(var(--card-height)*.04);
    animation: cardBgAnimation 30s infinite ;
    position: relative;
    cursor: pointer;
    transition: 200ms ease-in-out;
    border-radius: calc(var(--card-height)*.05);
}

.card:hover:before {
    opacity: 0;
}
.card:hover {
    scale: 1.05;
    z-index: 1;
}


.card:first-child {
    background: url(file:///C:/Users/FLAMA%20ADM/Documents/GitHub/rsmercearia/Site/img/index/outros.jpg);
}
.card:nth-child(2) {
    background: url(https://i.postimg.cc/FH40cQqv/mado-el-khouly-MA8-Yo-Ao-Kpf-Y-unsplash.jpg);
}
.card:nth-child(3) {
    background: url(https://i.postimg.cc/XYkdkzSC/malte-schmidt-en-Gr5-Ybj-QKQ-unsplash.jpg);
}
.card:nth-child(4) {
    background: url(https://i.postimg.cc/XYkdkzSC/malte-schmidt-en-Gr5-Ybj-QKQ-unsplash.jpg);
}